:root {
    --lk-primary: #292929;
    --lk-orange: #f2b030;
    --lk-orange-hover: #e79d08;
    --lk-lite-orange: #f9efdc;
    --lk-grey: #d9d9d9;
    --lk-error-color: #F27676;
    --lk-bg-color: #fafafa;
    --lk-border-color: #E9E9E9;
}
