@import './_reset.scss';
@import './colors.scss';
@import './menu.scss';
@import './circle-timer.scss';
@import './button.scss';
@import 'v-calendar/style.css';
@import './calendar.scss';
@import './sweetalert.scss';
@import './thumb.scss';

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100dvw;
    height: 100dvh;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--lk-primary);
    background-color: var(--lk-bg-color);
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-title__wrap {
    margin-bottom: 16px;
    .page-title {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 8px;
        color: var(--lk-primary);
        span {
            color: var(--lk-orange);
        }
    }
    .page-title.page-title-greet {
        margin-bottom: 6px;
        font-size: 24px;
        line-height: 29px;
    }
    .page-title.page-title-auth {
        font-size: 38px;
        line-height: 45.6px;
    }
    .page-descr {
        color: var(--lk-grey);
        font-size: 12px;
        line-height: 15px;
    }
}

.view {
    max-height: none;
    min-height: 100%;
    padding: 24px 0 16px;
    min-height: 100%;
    background-color: var(--lk-bg-color);
}
.pointer {
    cursor: pointer;
}
.layout-scroll {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}
.layout-wrap {
    max-width: 1440px;
    height: 100%;
    padding: 0 16px;
    padding: 0 16px;
}

.layout-padding {
    height: 100%;
    padding-bottom: 300px;
}

@media only screen and (min-width: 1440px) {
    .view {
        padding-top: 8px;
        padding-bottom: 32px;
    }
    .layout-wrap {
        padding: 0 70px;
        padding: 0 70px;
        margin-inline: auto;
    }

    .page-title__wrap {
        .page-descr {
            font-size: 14px;
        }

        .page-title {
            font-size: 24px;
            line-height: 29px;
        }

        .page-title.page-title-greet {
            font-size: 32px;
            line-height: 29px;
            margin-bottom: 12px;
        }

        .page-title.page-title-auth {
            font-size: 48px;
            line-height: 57.6px;
        }
    }
}
